body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  padding: 8px 10px;
  color: #495057;
  background-color: #FFF;
  border: 1px solid #ced4da;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

.button {
  color: #FFF;
  background-color: #00B7FF;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

thead {
  background-color: #cce5ff;
}
th, td {
  padding: 10px 10px 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}